@{
    string username = User.Identity.Name;
    var deleteUserUrl = Url.Action("DeleteUser", "Admin");
}
@using Agenda.Models.Dto
@model List<RegistrationModel>

<!-- Agrege el enlace a SweetAlert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<div class="dashboard-container">
    <div class="header text-center">
        <h2>Bienvenido Administrador @username</h2>
    </div>
    <br>

    <div class="container">
        
        <div class="table-responsive">
            @if (Model != null && Model.Count > 0)
            {
                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Cedula</th>
                            <th>Email</th>
                            <th>Telefono</th>
                            <th>Usuario</th>
                            <th>Imagen</th>
                            <th>Rol</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>@user.FirstName</td>
                                <td>@user.LastName</td>
                                <td>@user.DNI</td>
                                <td>@user.Email</td>
                                <td>@user.Phone</td>
                                <td>@user.Username</td>
                                <td><img src="~/Uploads/@user.ProfilePicture" style="width: 100px; height: 100px;" alt="Profile Picture"></td>
                                <td>@user.Role</td>
                                <td>
                                    <button class="btn btn-danger eliminar-usuario" data-username="@user.Username" data-url="@deleteUserUrl"><i class="fas fa-trash-alt"></i></button>
                                    <a class="btn btn-primary" href="@Url.Action("EditUser", new { username = user.Username })"><i class="fas fa-edit"></i></a>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p class="text-center">No hay usuarios disponibles.</p>
            }
        </div>
    </div>
</div>
<script src="~/js/script.js"></script>
