@{
    string username = User.Identity.Name;
}
@using Agenda.Models.Dto
@model List<RegistrationModel>


<div class="dashboard-container">
    <div class="header text-center">
        <h2>Bienvenido Administrador @username</h2>
    </div>

    <div class="container">
        <h3 class="text-center">Lista de Usuarios</h3>
        <div class="table-responsive">
            @if (Model != null && Model.Count > 0)
            {
                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Email</th>
                            <th>Usuario</th>
                            <th>Imagen</th>
                            <th>Rol</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>@user.FirstName</td>
                                <td>@user.LastName</td>
                                <td>@user.Email</td>
                                <td>@user.Username</td>
                                <td><img src="~/Uploads/@user.ProfilePicture" style="width: 100px; height: 100px;" alt="Profile Picture"></td>
                                <td>@user.Role</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p class="text-center">No hay usuarios disponibles.</p>
            }
        </div>
    </div>
</div>

